/*Diseño de seccion Contacto*/

$color-redes :#60BA51;
$color-redesHover:  #4d9240;

.campo{
    padding: 2px;
    margin: 5px 0;
    outline: none;
    border: 1px solid #cecece;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.2s;
}

.campo:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.social {
    font-size: 3rem;
    padding: 10px 0 10px 0;
}

$redes: "facebook", "instagram", "github", "linkedin";

@each $red in $redes {
    .social__#{$red} {
        color: $color_redes;
        text-decoration: none;
        transition: 500ms ease-in-out;
    }

    .social__#{$red}:hover {
        color: $color_redesHover;
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) {


}