/*Diseño de seccion Perfil*/

#perfil {
    background-color: #fff;
}

.informacion__imagen {
    object-fit: cover;
    width: 70%;
    height: auto;
    box-shadow: 0px 0px 2px #000;
}

.informacion__lista {
    list-style: none;
}